.container.testimonialContainer{
   
   width: 40%;
   padding-bottom: 3rem;
  

}

.swiper-pagination-clickable .swiper-pagination-bullet{
background: var(--color-primary);
}

.testimonialCta{
    padding: 2rem;
    display: flex;
    justify-content: center;
    
  }
  .testimonial{
    background: var(--color-bg-variant);
  
    border-radius: 2rem;
    
    text-align: center;
    
    user-select: none;
}



  
  
  .testimonialP{
      color: var(--color-light);
      font-weight: 300;
      width: 100%;
      margin: 1.2rem auto 1rem;
  }

  
  
  
  /*-------------MEDIA QUERIES.............*/
  @media screen and (max-width: 1024px) {
      .container .testimonialContainer{
       width: 60%;
       
      
      }
      .testimonial p{
        width: var(--container--width--sm);
        margin: 2rem;
    }
   }
   
   
   /*-------------MEDIA QUERIES(small devices).............*/
   @media screen and (max-width: 600px) {
   
      .container.testimonialContainer{
          width: var(--container--width--sm);
         padding: 1rem 1rem ;
         padding-bottom: 3rem;
         }
         .testimonialP{
          width: var(--container--width--sm);
          margin: 1rem;
      }

      #section{
        margin-top: 20rem;
      }
      
   }